body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .hamburguer {
    display:none;
    cursor: pointer;
  }
  
  .linha {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
  
  h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="date"],
  input[type="text"],
  input[type="number"],
  select {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  